<div class="main">
  <div class="introduction">
    <h1>Welcome to PhotoHub - Your Creative Space!</h1>
    <p>
      PhotoHub is where passionate amateur photographers gather. Showcase your
      best shots, explore new techniques, and inspire others with your artistic
      vision. Join a dynamic community, discover captivating images, like and be
      liked while we celebrate the joy of photography together.
    </p>
  </div>

  <div class="photoWraper">
    <img src="../../../assets/photographer.jpg" alt="Photographer" />
  </div>
</div>

<h2>Here are our latest additions:</h2>

<div *ngIf="!isLoading; else loadingIndicator" class="content">
  <ng-container *ngIf="!!data.length; else noPosts">
    <app-photo-card
      *ngFor="let photoData of data"
      [photoData]="photoData"
      [user]="currentUser"
    ></app-photo-card>
  </ng-container>
</div>

<ng-template #loadingIndicator>
  <p class="alert loader">Loading ...</p>
</ng-template>

<ng-template #noPosts>
  <div class="alert">There are NO posts yet!</div>
</ng-template>
