header {
  background-color: #f2f8fa;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1em;
  color: rgb(28, 28, 34);
}

header h1 {
  font-size: 1em;
}

nav {
  width: 80%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  height: 12vh;
}

li:has(.active-link) {
  font-weight: 800;
  background-color: rgb(28, 28, 34);
  border-top: 1vh solid #f2f8fa;
  border-bottom: 1px solid rgb(28, 28, 34);
  height: 12vh;
}

li a.active-link {
  color: #f2f8fa;
}

li {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  height: inherit;
  border-top: 1vh solid #f2f8fa;
  /* transition: 0.3s; */
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
}

li a {
  text-decoration: none;
  color: rgb(28, 28, 34);
}

.notification {
  position: fixed;
  z-index: 10;
  right: 20px;
  top: 12vh;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-style: italic;
  box-shadow: 0 2px 7px rgb(204, 204, 204);
  background-color: rgba(238, 74, 74, 0.699);
  animation: fadeout 2.6s ease-in;
}

.error-message {
  background-color: rgba(238, 74, 74, 0.699);
}

.success-message {
  background-color: rgba(99, 230, 81, 0.699);
}

.user {
  font-size: small;
  position: absolute;
  left: 3.5%;
  top: 7vh;
}

.user span {
  text-transform: capitalize;
  color: rgb(26, 184, 52);
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
