<form [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
  <h2>Login Form</h2>

  <fieldset>
    <mat-form-field>
      <mat-label>Enter email</mat-label>
      <input formControlName="email" matInput [type]="'text'" />
    </mat-form-field>

    <ng-container *ngIf="loginFormGroup.controls['email'].touched && loginFormGroup.controls['email'].invalid">

      <p *ngIf="loginFormGroup.controls['email'].errors?.['required']" class="error">
        Email is required
      </p>

      <p *ngIf="loginFormGroup.controls['email'].errors?.['email']" class="error">
        Email is not valid
      </p>

    </ng-container>

    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        formControlName="password"
        matInput
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <!-- {{ loginFormGroup.controls["password"].errors | json }} -->

    <ng-container *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">
      
        <p *ngIf="loginFormGroup.controls['password'].errors?.['required']" class="error">
            Password is required
        </p>
    
        <p *ngIf="loginFormGroup.controls['password'].errors?.['minlength']" class="error">
            Password needs to be at least 6 characters
        </p>
    </ng-container>

    <p *ngIf="errorMessage" class="error">{{errorMessage}}</p>

    <button [disabled]="loginFormGroup.invalid" mat-raised-button color="primary">Login</button>
  </fieldset>
</form>
